<h1>Add Title</h1>
<%= form_for @title do |g| %>
  <div class="form-group">
    <%= g.label :name %><br />
    <%= g.text_field :name, class:'form-control' %><br />
  </div>
  <%= g.submit "Submit", class:'btn btn-primary' %>
  <%=link_to "Cancel", root_path, class:'btn btn-default' %>
<%end %>